nav p a[href*="home"] {
    font-size: 2em;
    color:deeppink; 
    
    
}

.align {
    float: left;
}

.center{
    align-items:center;
}
h2{
    text-align: center;
}
.content{
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    
    
}



.content2{
   
    color: black;
    padding: 5px 15px;
    margin: 10px;
    
}

form{
    text-align: center;
    padding-bottom: 30px;
}


.firstbox {
     background-color: ghostwhite;
     margin: 20px;
      width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     border: 1px solid black;
        padding: 3px;
}

.secondbox {
     background-color: ghostwhite;
      margin: 20px;
      width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     border: 1px solid black;
        padding: 3px;
}

.thirdbox {
     background-color: ghostwhite;
     margin: 20px;
      width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     border: 1px solid black;
        padding: 3px;
}

.fourthbox {
     background-color: ghostwhite;
     margin: 20px;
      width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     border: 1px solid black;
        padding: 3px;
}
@media screen and (min-width: 830px){
    body{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    nav{
       position: relative;
    right: 0px;
    top: 0;
    font-size: 15px;
    padding-right: 10px;
        float: right;
    }
    .firstbox, .secondbox, .thirdbox, .fourthbox {
        display: inline-block;
        flex-wrap: wrap;
        width: 45%;
        margin: 5px;
        overflow: hidden;
      
       
        
    }
    .firstbox, .thirdbox {
        float: left;
    }
    .nav {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 831px)
{
    .firstbox, .secondbox, .thirdbox, .fourthbox{
        width: 100%;
    }
    
}


/*
@media screen and (max-width: 1300px){
    nav {
        position: relative;
        display: flex;
        
    }
*/
    